build/
*.vcd
*.vvp
*.log
*.jou
*.str
*.dcp
.cache/
reports/kv260/*.rpt
reports/kv260/*.json
reports/kv260/*.dcp

__pycache__/
*.py[cod]
reports/dsp_experiments/**/*.rpt
reports/dsp_experiments/**/*.json
reports/dsp_experiments/**/*.dcp
reports/dsp_experiments/summary.json
